@import url("https://fonts.googleapis.com/css?family=Exo+2:300,400,700&display=swap");
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Exo 2', sans-serif; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

nav {
  position: absolute;
  width: 95vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 1em auto;
  padding: 1em;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  nav #logo {
    color: coral;
    font-size: 1.9em; }
  nav #nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    height: auto; }
    nav #nav-list .nav-item {
      list-style: none;
      padding: 1em;
      color: white; }
      nav #nav-list .nav-item:hover {
        cursor: pointer;
        color: #ffa483; }
      nav #nav-list .nav-item:active {
        color: #ff5a1d; }
    nav #nav-list #important {
      background: coral;
      border-radius: 100px;
      padding: 1em 2em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      nav #nav-list #important:hover {
        cursor: pointer;
        color: white;
        background: #ffa483; }
      nav #nav-list #important:active {
        background: #ff5a1d; }

header {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../../assets/owl-header-image.jpg") no-repeat center fixed;
  background-size: cover; }
  header::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8); }
  header #title-block {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 100%;
    -webkit-transform: translate(-50%, 30%);
    -ms-transform: translate(-50%, 30%);
    transform: translate(-50%, 30%);
    z-index: 2;
    text-align: center;
    color: white; }
    header #title-block #title {
      font-size: 3em;
      color: coral; }
    header #title-block #subtitle {
      font-size: 1.8em;
      font-weight: 300; }
    header #title-block #get-started {
      background: coral;
      border-radius: 100px;
      padding: 1em 2em;
      font-size: 1em;
      color: white;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: none;
      text-transform: uppercase;
      margin-top: 1.5em;
      font-weight: 700;
      outline: none; }
      header #title-block #get-started:hover {
        cursor: pointer;
        background: #ffa483; }
      header #title-block #get-started:active {
        background: #ff7441; }

section {
  position: relative;
  max-width: 95vw;
  width: 95vw;
  margin: 0 auto;
  padding: 1em; }
  section .section-header {
    color: coral;
    font-size: 2.5em;
    font-weight: 300;
    margin: 1em 0;
    text-align: center; }

#games-list {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #games-list .game-item {
    position: relative;
    width: 50%;
    height: 300px;
    padding: 1em;
    list-style: none;
    text-align: center; }
    #games-list .game-item img {
      position: relative;
      height: 200px;
      width: 200px;
      -o-object-fit: contain;
      object-fit: contain; }
